{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.totalMappings > 0 %}
        {% set icon %}
            {{ source('@RekalogikaMapper/map.svg') }}
            <span class="sf-toolbar-value">{{ collector.totalMappings }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Total mappings</b>
                <span class="sf-toolbar-status">{{ collector.totalMappings }}</span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Including submappings</b>
                <span class="sf-toolbar-status">{{ collector.totalMappingsIncludingSubMappings }}</span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Total time</b>
                <span>
                    {{ '%.2f'|format(collector.totalTime * 1000) }}
                    <span class="unit">ms</span>
                </span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label {{ not collector.mappings|length ? 'disabled' }}">
        <span class="icon">{{ source('@RekalogikaMapper/map.svg') }}</span>
        <strong>Mapper</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Mapper</h2>
    <div class="sf-rekalogika_mapper sf-reset">
        <table>
            <tr>
                <th>Path</th>
                <th>Source</th>
                <th>Existing Target</th>
                <th>Wanted Target</th>
                <th>Result</th>
                <th>Transformer</th>
                <th>Duration</th>
            </tr>

            {% for tracedata in collector.mappings %}
                {{ _self.render_row(tracedata, 0) }}
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% macro render_row(tracedata, depth) %}
    <tr>
        {%- apply spaceless -%}
        <td>
            {%- if depth > 1 -%}
                {%- for i in 1..depth-1 -%}&nbsp;&nbsp;
                {%- endfor -%}
                └&nbsp;{{- tracedata.path ?? '(???)' -}}
            {%- elseif depth == 1 -%}
                └&nbsp;{{- tracedata.path ?? '(???)' -}}
            {%- else -%}
                {{- tracedata.path ?? '(root)' -}}
            {%- endif -%}
        </td>
        {%- endapply -%}
        <td>{{ tracedata.sourceType|abbr_class }}</td>
        <td>{{ tracedata.existingTargetType|abbr_class }}</td>
        <td>{{ tracedata.targetType|raw }}</td>
        <td>{{ tracedata.resultType|abbr_class }}</td>
        <td>{{ tracedata.transformerClass|abbr_class }}</td>
        <td>
            <span class="nowrap">{{- '%.2f'|format(tracedata.time * 1000) -}}
                ms</span>
        </td>
    </tr>

    {% for child in tracedata.nestedTraceData %}
        {{ _self.render_row(child, depth + 1) }}
    {% endfor %}
{% endmacro %}
