{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.totalMappings > 0 %}
        {% set icon %}
        {{ source('@RekalogikaMapper/map.svg') }}
        <span class="sf-toolbar-value">{{ collector.totalMappings }}</span>
        {% endset %}

        {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Total mappings</b>
            <span class="sf-toolbar-status">{{ collector.totalMappings }}</span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b>Including submappings</b>
            <span class="sf-toolbar-status">{{ collector.totalMappingsIncludingSubMappings }}</span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b>Total time</b>
            <span>
                {{ '%.2f'|format(collector.totalTime * 1000) }}
                <span class="unit">ms</span>
            </span>
        </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label {{ not collector.mappings|length ? 'disabled' }}">
        <span class="icon">{{ source('@RekalogikaMapper/map.svg') }}</span>
        <strong>Mapper</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Mapper</h2>

    <div class="sf-rekalogika_mapper sf-reset">
        {% if collector.mappings|length == 0 %}
            <div class="empty">
                <p>No mappings were recorded.</p>
            </div>
        {% else %}
            {{ _self.render_metrics(collector) }}

            {% set helper = collector.helper %}

            <div class="sf-tabs">
                {{ _self.render_mappings_tab(collector.mappings) }}
                {{ _self.render_o2o_tab(collector.objectToObjectMetadatas, helper) }}
                {{ _self.render_mapping_table(collector.mappingTable, helper) }}
            </div>
        {% endif %}

    </div>
{% endblock %}

{% macro render_metrics(collector) %}
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.totalMappings }}</span>
            <span class="label">Mappings</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.totalMappingsIncludingSubMappings }}</span>
            <span class="label">Including submappings</span>
        </div>

        <div class="metric">
            <span class="value">{{ '%.2f'|format(collector.totalTime * 1000) }}</span>
            <span class="label">Total time (ms)</span>
        </div>
    </div>
{% endmacro %}

{% macro render_mappings_tab(mappings) %}
    <div class="tab {{ not mappings ? 'disabled' }}">
        <h3 class="tab-title">
            Mappings
            <span class="badge">{{ mappings|length }}</span>
        </h3>

        <div class="tab-content">
            <table>
                <thead>
                    <tr>
                        <th>Path</th>
                        <th>Source Type</th>
                        <th>Existing Target Value Type</th>
                        <th>Target Type Hint</th>
                        <th>Selected Target Type</th>
                        <th>Target Result Type</th>
                        <th>Transformer</th>
                        <th>Duration</th>
                    </tr>
                </thead>

                {% for tracedata in mappings %}
                    {{ _self.render_row(tracedata, 0) }}
                {% endfor %}
            </table>
        </div>
    </div>
{% endmacro %}

{% macro render_o2o_tab(metadatas, helper) %}
    <div class="tab {{ not metadatas ? 'disabled' }}">
        <h3 class="tab-title">
            Object to Object Metadata
            <span class="badge">{{ metadatas|length }}</span>
        </h3>

        <div class="tab-content">
            {% for metadata in metadatas %}
                {{ _self.render_o2o_metadata(metadata, helper) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_mapping_table(table, helper) %}
    <div class="tab">
        <h3 class="tab-title">
            Mapping Table
        </h3>

        <div class="tab-content">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Source</th>
                        <th>Target</th>
                        <th>Target Variance</th>
                        <th>Transformer</th>
                    </tr>
                </thead>
                {% for row in table %}
                    <tr>
                        <td>{{ row.order }}</td>
                        <td>{{ helper.typeToHtml(row.sourceType)|raw }}</td>
                        <td>{{ helper.typeToHtml(row.targetType)|raw }}</td>
                        <td>
                            {% if row.variantTargetType %}
                                <span class="badge badge-warning">Variant</span>
                            {% else %}
                                <span class="badge badge-info">Invariant</span>
                            {% endif %}
                        </td>
                        <td>{{ row.class|abbr_class }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endmacro %}

{% macro render_row(tracedata, depth) %}
    {% if depth == 0 %}
        <tr class="status-success">
            <th colspan="8">
                Called by:
                {% if tracedata.caller is defined %}
                    {% set caller = tracedata.caller %}
                    {% set random = random() %}
                    <span class="metadata">
                        {% if caller.line %}
                            {% set link = caller.file|file_link(caller.line) %}
                            {% if link %}
                                <a href="{{ link }}" title="{{ caller.file }}">{{ caller.name }}</a>
                            {% else %}
                                <abbr title="{{ caller.file }}">{{ caller.name }}</abbr>
                            {% endif %}
                        {% else %}
                            {{ caller.name }}
                        {% endif %}
                        line
                        <a class="text-small sf-toggle" data-toggle-selector="#sf-trace-{{ random }}">{{ caller.line }}</a>
                    </span>

                    <div class="sf-serializer-compact hidden" id="sf-trace-{{ random }}">
                        <div class="trace">
                            {{ caller.file|file_excerpt(caller.line) }}
                        </div>
                    </div>
                {% endif %}
            </th>
        </tr>
    {% endif %}
    <tr>
        {%- apply spaceless -%}
        <td>
            {%- if depth > 1 -%}
                {%- for i in 1..depth-1 -%}&nbsp;&nbsp;
                {%- endfor -%}
                └&nbsp;{{- tracedata.path ?? '(???)' -}}
            {%- elseif depth == 1 -%}
                └&nbsp;{{- tracedata.path ?? '(???)' -}}
            {%- else -%}
                {%- if tracedata.path -%}
                    {{- tracedata.path -}}
                {% else %}
                    <span class="badge badge-info">Root</span>
                {%- endif -%}
            {%- endif -%}
        </td>
        {%- endapply -%}
        <td>
            {{ tracedata.sourceType|abbr_class }}
        </td>
        <td>{{ tracedata.existingTargetType|abbr_class }}</td>
        <td>{{ tracedata.possibleTargetTypesHtml|raw }}</td>
        <td>{{ tracedata.selectedTargetTypeHtml|raw }}</td>
        <td>
            {{ tracedata.resultType|abbr_class }}
            {% if tracedata.lazyLoadingResult %}
                <span class="badge badge-success">Lazy</span>
            {% endif %}
        </td>
        <td>{{ tracedata.transformerClass|abbr_class }}</td>
        <td>
            <span class="nowrap">{{- '%.2f'|format(tracedata.time * 1000) -}}
                ms</span>
        </td>
    </tr>

    {% for child in tracedata.nestedTraceData %}
        {{ _self.render_row(child, depth + 1) }}
    {% endfor %}
{% endmacro %}

{% macro render_o2o_metadata(metadata, helper) %}
    <h3>From
        {{ metadata.sourceClass|abbr_class }}
        to
        {{ metadata.providedTargetClass|abbr_class }}</h3>
    <table>
        <thead>
            <tr>
                <th class="key" scope="col">Item</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Source class</th>
                <td>{{ metadata.sourceClass|abbr_class }}</td>
            </tr>
            <tr>
                <th>Wanted target class</th>
                <td>{{ metadata.providedTargetClass|abbr_class }}</td>
            </tr>
            <tr>
                <th>Concrete target class</th>
                <td>
                    {{ metadata.targetClass|abbr_class }}
                    {% if metadata.targetReadOnly %}
                        <span class="label status-error">Read-only</span>
                    {% endif %}
                    {% if not metadata.instantiable %}
                        <span class="label status-error">Not instantiable</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Target proxy class</th>
                <td>
                    {% if metadata.targetProxyClass %}
                        {{ metadata.targetProxyClass|abbr_class }}
                    {% else %}
                        <span class="label status-error">Unsupported</span>
                        {{ metadata.cannotUseProxyReason }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Target Property</th>
                <th>Source Types</th>
                <th>Target Types</th>
                <th>Source Read Mode</th>
                <th>Target Read Mode</th>
                <th>Target Write Mode</th>
                <th>Flags</th>
            </tr>
        </thead>

        {% if metadata.constructorPropertyMappings|length > 0 %}
            <tr class="status-success">
                <th colspan="7">
                    Constructor arguments

                    {% if metadata.targetProxyClass %}
                        <span class="badge badge-warning">
                            {% if metadata.constructorIsEager %}
                                Eager
                            {% else %}
                                Lazy
                            {% endif %}
                        </span>
                    {% endif %}
                </th>
            </tr>
            {% for mapping in metadata.constructorPropertyMappings %}
                {{ _self.render_o2o_property_mapping(mapping, helper) }}
            {% endfor %}
        {% endif %}

        {% if metadata.targetProxyClass %}
            {% if metadata.eagerPropertyMappings|length > 0 %}
                <tr class="status-success">
                    <th colspan="7">Eager property mappings</th>
                </tr>
                {% for mapping in metadata.eagerPropertyMappings %}
                    {{ _self.render_o2o_property_mapping(mapping, helper) }}
                {% endfor %}
            {% endif %}

            {% if metadata.lazyPropertyMappings|length > 0 %}
                <tr class="status-success">
                    <th colspan="7">Lazy property mappings</th>
                </tr>
                {% for mapping in metadata.lazyPropertyMappings %}
                    {{ _self.render_o2o_property_mapping(mapping, helper) }}
                {% endfor %}
            {% endif %}
        {% else %}
            {% if metadata.propertyMappings|length > 0 %}
                <tr class="status-success">
                    <th colspan="7">Property mappings</th>
                </tr>
                {% for mapping in metadata.propertyMappings %}
                    {{ _self.render_o2o_property_mapping(mapping, helper) }}
                {% endfor %}
            {% endif %}
        {% endif %}

    </table>
{% endmacro %}

{% macro render_o2o_property_mapping(mapping, helper) %}
    <tr>
        <td>
            {{ mapping.targetProperty }}
        </td>
        <td>
            {{ helper.typeToHtml(mapping.sourceTypes)|raw }}
        </td>
        <td>
            {{ helper.typeToHtml(mapping.targetTypes)|raw }}
        </td>
        <td style="white-space: nowrap">
            {{ _self.render_o2o_property_mapping_read_mode(mapping.sourceReadMode, mapping.sourceReadName, mapping.sourceReadVisibility) }}
        </td>
        <td style="white-space: nowrap">
            {{ _self.render_o2o_property_mapping_read_mode(mapping.targetReadMode, mapping.targetReadName, mapping.targetReadVisibility) }}
        </td>
        <td style="white-space: nowrap">
            {{ _self.render_o2o_property_mapping_write_mode(mapping.targetWriteMode, mapping.targetWriteName, mapping.targetWriteVisibility) }}
        </td>
        <td>
            {% if mapping.targetScalarType %}
                <span class="badge badge-success">{{ mapping.targetScalarType }}</span>
            {% endif %}

            {% if mapping.targetCanAcceptNull %}
                <span class="badge badge-success">nullable</span>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro render_o2o_property_mapping_read_mode(mode, name, visibility) %}
    {%- if mode == constant('Rekalogika\\Mapper\\Transformer\\ObjectToObjectMetadata\\ReadMode::Method') -%}
        -&gt;{{ name }}()
    {%- elseif mode == constant('Rekalogika\\Mapper\\Transformer\\ObjectToObjectMetadata\\ReadMode::Property') -%}
        -&gt;{{ name }}
    {%- else -%}
        <span class="badge badge-danger">None</span>
    {%- endif -%}
    {{- _self.render_visibility(visibility) -}}
{% endmacro %}

{% macro render_o2o_property_mapping_write_mode(mode, name, visibility) %}
    {%- if mode == constant('Rekalogika\\Mapper\\Transformer\\ObjectToObjectMetadata\\WriteMode::Method') -%}
        -&gt;{{ name }}()
    {%- elseif mode == constant('Rekalogika\\Mapper\\Transformer\\ObjectToObjectMetadata\\WriteMode::Property') -%}
        -&gt;{{ name }}
    {%- elseif mode == constant('Rekalogika\\Mapper\\Transformer\\ObjectToObjectMetadata\\WriteMode::AdderRemover') -%}
        -&gt;{{ name }}()
    {%- elseif mode == constant('Rekalogika\\Mapper\\Transformer\\ObjectToObjectMetadata\\WriteMode::Constructor') -%}
        -&gt;__construct(...)
    {%- else -%}
        <span class="badge badge-danger">None</span>
    {%- endif -%}

    {{- _self.render_visibility(visibility) -}}
{% endmacro %}

{% macro render_visibility(visibility) %}
    {%- if visibility == constant('Rekalogika\\Mapper\\Transformer\\ObjectToObjectMetadata\\Visibility::Protected') -%}
        <span class="badge badge-danger">Protected</span>
    {%- elseif visibility == constant('Rekalogika\\Mapper\\Transformer\\ObjectToObjectMetadata\\Visibility::Private') -%}
        <span class="badge badge-danger">Private</span>
    {%- endif -%}
{% endmacro %}
